{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <ul class="mb-0">

    {% for field in form %}
      {% if field.errors %}
        {% for error in field.errors %}
          <li><a href="#id_{{ field.name }}" class="error"><b>{{field.label}}:</b> {{ error|escape }}</a></li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>

  {% if form.non_field_errors %}
    {% for non_field_error in form.non_field_errors %}
        {{ non_field_error|escape }}
    {% endfor %}
  {% endif %}

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
