{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <ul class="mb-0">

    {% for field in form %}
      {% if field.errors %}
        {% for error in field.errors %}
          <li><a href="#id_{{ field.name }}" class="error"><b>{{field.label}}:</b> {{ error|escape }}</a></li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>

  {% if form.non_field_errors %}
    {{ form.non_field_errors }}
  {% endif %}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
