{% extends "base.html" %}

{% block title %}
    Cadastro de Entrada
{% endblock title %}

{% block content %}
    <section class="card border-0 shadow">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="row g-2">
                    {% for field in form %}
                        <div class="col">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="col mt-auto">
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var dropdown = document.getElementById('id_id_tp_residuos');
            var classeResiduo = document.getElementById('id_classe_residuo');
            dropdown.addEventListener('change', function() {
                var selectedValue = this.value;
                classeResiduo.value = '';
                // Make an AJAX request to your server with the selected value
                fetch('/tipo_residuos/get_class/?id_tp_residuos=' + selectedValue)
                    .then(response => response.json())
                    .then(data => {
                        // Update the classe_residuo field with the returned data
                        classeResiduo.value = data.classe;
                    });
            });
        });
    </script>
{% endblock content %}
