{% extends "base.html" %}
{% load static %}
{% block title %}
    Cadastro de Saída
{% endblock title %}
{% block javascripts %}
    <script src="{% static 'js/destinacao_chained_select.js' %}"></script>
    <script src="{% static 'js/classe_residuo_chained_select.js' %}"></script>
{% endblock javascripts %}
{% block content %}
    <section class="card border-0 shadow">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="{{ form.data.id_for_label }}">{{ form.data.label }}</label>
                        {{ form.data }}
                    </div>
                    <div class="col">
                        <label for="{{ form.id_cluster.id_for_label }}">{{ form.id_cluster.label }}</label>
                        {{ form.id_cluster }}
                    </div>
                    <div class="col">
                        <label for="{{ form.id_tp_residuos.id_for_label }}">{{ form.id_tp_residuos.label }}</label>
                        {{ form.id_tp_residuos }}
                    </div>
                    <div class="col">
                        <label for="{{ form.classe_residuo.id_for_label }}">{{ form.classe_residuo.label }}</label>
                        {{ form.classe_residuo }}
                    </div>
                    <div class="col">
                        <label for="{{ form.id_fornecedor_destinacao.id_for_label }}">{{ form.id_fornecedor_destinacao.label }}</label>
                        {{ form.id_fornecedor_destinacao }}
                    </div>
                    <div class="col">
                        <label for="{{ form.id_destinacao.id_for_label }}">{{ form.id_destinacao.label }}</label>
                        {{ form.id_destinacao }}
                    </div>
                </div>
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="{{ form.id_fornecedor_transporte.id_for_label }}">{{ form.id_fornecedor_transporte.label }}</label>
                        {{ form.id_fornecedor_transporte }}
                    </div>
                    <div class="col">
                        <label for="{{ form.quantidade.id_for_label }}">{{ form.quantidade.label }}</label>
                        {{ form.quantidade }}
                    </div>
                    <div class="col">
                        <label for="{{ form.unidade_medida.id_for_label }}">{{ form.unidade_medida.label }}</label>
                        {{ form.unidade_medida }}
                    </div>
                    <div class="col">
                        <label for="{{ form.receita.id_for_label }}">{{ form.receita.label }}</label>
                        {{ form.receita }}
                    </div>
                    <div class="col">
                        <label for="{{ form.custo.id_for_label }}">{{ form.custo.label }}</label>
                        {{ form.custo }}
                    </div>
                </div>
                <div class="row g-2 mt-2">
                    <div class="col">
                        <label for="{{ form.cdf.id_for_label }}">{{ form.cdf.label }}</label>
                        {{ form.cdf }}
                    </div>
                    <div class="col">
                        <label for="{{ form.evidencia.id_for_label }}">{{ form.evidencia.label }}</label>
                        {{ form.evidencia }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
